# Python 3.12.x

# Web Framework
fastapi==0.115.12
uvicorn[standard]==0.34.0

# Base de datos (PostgreSQL)
sqlalchemy==2.0.40
alembic==1.15.2
psycopg2-binary==2.9.10

# Autenticación
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Validación y esquemas
pydantic==2.11.1
pydantic-settings==2.9.1

# Variables de entorno
python-dotenv==1.1.0

# Generación de PDF
weasyprint==68.1

# Tareas programadas
apscheduler==3.11.2

# Utilidades
python-multipart==0.0.20